.sidebar_container{
  width:324px;
  height:537px;
  background-color:var(--background-blur-color);
  border-radius: 40px;
  position:relative;
  
  
}

.absolute{
  position:absolute;
  top:150px;

}

.mountain{
  height:198px;
  margin-top:173px;
}