.cityContainer{
  display: flex;
  align-items: center;
  gap:10px;
  font-size: 20px;

}

.headerContainer{
  margin:38px 33px;
  display: flex;
  justify-content: space-between;
}

.arrowIcon{
cursor: pointer;
}
