/* .forecast {
  display: flex;
  align-items: center;
  justify-content: space-between;

} */
.slider_container {
  width: 323px;
  padding-top:34px;

 
  

  
}
.days {
  font-size:14.17px;
  font-weight:400;


}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.weatherIcon{
  width:24.81px;
  height:auto;
 
}

.prevArrow,.nextArrow{
  position: absolute;
  top:0;
  cursor: pointer;
  z-index:10;
}

.prevArrow{
  left:-2px;
}

.nextArrow{
  right:-2px;
}

.clockIcon{
  width:20.33px;
  height:auto;
}
.time{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top:14.98px;
  font-size: 17.12px;
}



/* .center .slick-center.weather {
  background-color: black;
  opacity: 1;
  transform: scale(1.08);
} */
